{% extends "acincodingclinic/base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <img src="{% static 'acincodingclinic/img/design/codinginfo1.jpg'%}" style="width:100%;">
                <img src="{% static 'acincodingclinic/img/design/codinginfo2.jpg'%}" style="width:100%;">
                <img src="{% static 'acincodingclinic/img/design/codinginfo3.png'%}" style="width:100%;">
                <img src="{% static 'acincodingclinic/img/design/codinginfo4.jpg'%}" style="width:100%;">
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
{% endblock %}