{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        *{
            margin:0px;
            padding:0px;
        }
        html, body{
            height: 100%;
            background-image: url('/static/acincodingclinic/img/design/signup.png');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <script>
        function login(){
            var url="{% url 'acincodingclinic:loginpage' %}";
            location.href=url;
        }
        function main(){
            var url="{% url 'acincodingclinic:main' %}";
            location.href=url;
        }
    </script>
</head>
<body>
    <button type="button" class="btn btn-primary" onclick="login();" style="position:fixed;left:41%; top:69%;z-index : 10000; height:5%; font-size:20px;">로그인 하러 가기</button>
    <button type="button" class="btn btn-secondary" onclick="main();"style="position:fixed;left:52%; top:69%;z-index : 10000;width:7%; height:5%; font-size:20px;">메인으로</button>
</body>
    
</html>