{% extends "acincodingclinic/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'acincodingclinic/css/style.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--서머노트-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
<!--나눔 고딕-->
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
<style>
/* ace editor 사이즈 조절 */
.ace_editor {
    width: 98%;
}
.note-editor{
    width: 98%;
}
</style>
  <div class="container-fluid coachingmain" style="padding-bottom:3%; vartical-align:middle;">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <div class="form-group" style="padding-top:3%;">
          <label style="font-weight:600; font-size:42px; color:#4d4d4d;">커뮤니티</label><label style="font-size:18px; color:#7c7c7c; padding-left:0.8%;">코딩클리닉 회원만이 누릴 수 있는 소통 공간</label>
          <div style="margin-top:0.3%; background-color:white; border-top: 1.5px solid #B0C4DE; border-right: 1.5px solid #B0C4DE; border-left: 1.5px solid #B0C4DE; border-bottom: 1.5px solid #B0C4DE; border-radius:10px 10px 10px 10px; ">
            <div style="padding-top:3%; padding-bottom:3%; padding-left:6%; font-size:23px;">
              <div style="padding-bottom:2%;">코딩클리닉의 새로운 소식을 확인해 보세요!</div>
              <div>
                <b style="color:#0081ff">욕설, 비방, 광고, 허위사실 유포 등 부적절한 내용</b>의 게시글은 관리자 권한으로 <b style="color:#0081ff">강제 삭제 및 계정 정지등의 불이익</b>이 있을 수 있습니다.
                <br>회원들이 서로의 멘토, 멘티가 되어 다양한 지식을 공유하는 문화를 조성하기 위한 게시판입니다.
              </div>  
            </div>
          </div>
        </div>
        <div style="width:98%; margin-left:1%; border-bottom: 2px solid #c6c6c6; ">
        </div>
        <form name="board_view" action="{% url 'acincodingclinic:write_board' %}" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="row" style="padding-top:1%; vartical-align:middle; width:100%; padding-left:1.5%; font-size:18px;">
            <div class="col-md-1" style="padding-top:1%;text-align:center;">
                <label>제목</label>
            </div>
            <div class="col-md-11 form-group" style="padding-top:1%; ">
                <input type="text" id="Board_Title" name="Board_Title" class="form-control" style="width:100%; border-radius:10px; ">
            </div>
        </div>
        <div class="row" style="width:100%; padding-left:1.5%; font-size:18px; text-align:center;">
            <div class="col-md-1">
                <label>분류</label>
            </div>
            <div class="col-md-1 form-group" >
                <select id='board_classcode' name='board_classcode' class="form-control" style="border-radius:10px; width:113px;;">
                    <option selected value="" disabled>선택</option>
                    <option value="1">C</option>
                    <option value="2">C++</option>
                    <option value="3">C#</option>
                    <option value="4">Python</option>
                    <option value="5">JAVA</option>
                    <option value="6">WEB</option>
                    <option value="7">DB</option>
                    <option value="8">기타</option>
                </select>
            </div>
            <div class="col-md-1 form-group">
              <label>첨부파일</label>
            </div>
            <div class="col-md-8 form-group input-file" style="margin:0; padding:0;">
              <input type="text" class="form-control" id="file-name" style="width:100%; border-radius:10px;" readonly>
            </div>
            <div class="col-md-1 form-group input-file" style="margin:0px; padding:0px;">
              <label for="file_upload" class="file-label" style="width:76%; height:71%;">찾아보기</label> 
              <input type="file" name="file_upload" id="file_upload" onchange="fileUpload(this);" class="file-upload" style="display:none;">
            </div>
        </div>
        <div style="width:98%; margin-left:1%; border-bottom: 2px solid #c6c6c6; ">
        </div>
        <div class="row">
            <div class="col-md-12" style="padding-left:4.3%; padding-top:1%">
                <div class="form-group">
                    <label style="font-size:18px; color:#4d4d4d;">내용</label>
                    <div id="Board_Content"></div>
                    <input type="hidden" id="final_Board_Content" name="Board_Content" >
                      <script>
                        $('#Board_Content').summernote({
                          lang: 'ko-KR',
                          tabsize: 2,
                          height: 600
                        });
                      </script>
                </div>
            </div>
        </div>
        <div class="row" style=" vertical-align:middle">
          <div class="col-md-2" style="padding-left:4.5%;">
            <a class="btn btn-outline" style="background-color:#dee2e6; width:66%; border-radius:10px; font-size:18px" href="{%url 'acincodingclinic:Notice_menu' 1%}">전체 목록</a>
          </div>
          <div class="col-md-8" style="padding-top:2%; text-align:center;">
          </div>
          <div class="col-md-2" style="text-align:right; padding-right:3%;">
            <input type="button" onclick="boardcontent();" class="btn btn-outline" style="background-color:#dee2e6; width:55%; border-radius:10px; font-size:18px" value="작성하기">
          </div>
        </div>
      </div>
      </form>
      <div class="col-md-1">
      </div>
    </div>
  </div>
<script>
  function fileUpload(usr_file){
    $("#file-name").val($(usr_file).val().split('/').pop().split('\\').pop()); 
  }

  function boardcontent(){
    var markupStr = $('#Board_Content').summernote('code');
    $("#final_Board_Content").val(markupStr);
    document.board_view.submit();
  }

</script>
{% endblock %}