{% extends "acincodingclinic/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'acincodingclinic/css/style.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--나눔 고딕-->
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
<!--오류 발생 알람메시지-->
{% if messages %}
    {% for message in messages %} 
        <script>alert("{{message}}");</script>
    {% endfor %}
{% endif %}
<!--알람 끝-->
<div class="container-fluid coachingmain">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <label style="font-weight:600; font-size:42px; color:#4d4d4d; padding-top:3%; padding-bottom:2%;">마이페이지</label>
      <div class="form-group" style="background-color:white;">
        <div class="row">
          <div class="col-md-3" style="padding-top:3%; padding-left:6%;">
            <label style="font-weight:600; font-size:42px; color:#0174DF;">{{user_info.CDC_Name}}</label><label style="font-size:18px; padding-left:1%;">님 안녕하세요</label>
          </div>
          <div class="col-md-9">
            <img src="{% static 'acincodingclinic/img/design/mypagemoon.png'%}" style="position:relative; bottom:45%; left:45%; vartical-align:top;width:50%; height:100%;">
          </div>
        </div>
        <div class="row" style="padding-top:5%; padding-bottom:10%;">
          <div class="col-md-4" style="text-align:right;">
            <a href="{% url 'acincodingclinic:mypage'%}"><img src="{% static 'acincodingclinic/img/design/userinfo.png'%}" style="width:50%; height:80%;"></a>
            <div style="padding-right:11%;">
              <label style="font-weight:600; font-size:23px;">회원정보 관리</label>
            </div>
          </div>
          <div class="col-md-4" style="text-align:center;">
            <a href="{% url 'acincodingclinic:mypage_usrcoaching'%}"><img src="{% static 'acincodingclinic/img/design/mycoaching.png'%}" style="width:50%; height:80%;"></a>
            <div>
              <label style="font-weight:600; font-size:23px;">나의 코칭</label>
            </div>
          </div>
          <div class="col-md-4" style="text-align:left;">
            <a href="#"><img src="{% static 'acincodingclinic/img/design/point.png'%}" style="width:50%; height:80%;"></a>
            <div style="padding-left:20%;">
              <label style="font-weight:600; font-size:23px;">포인트</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:7%;">
        <div class="col-md-1">
        </div>
        <div class="col-md-2" style="text-align:center;">
          <a href="{% url 'acincodingclinic:mypage'%}" style="text-decoration:none !important;color:black;"><label style="font-size:30px; font-weight:600; padding-top:4%; padding-bottom:4%;">회원정보 관리</label></a>
        </div>
        <div class="col-md-2" style="background-color:white; text-align:center; border-left:2px solid #0081ff;border-right:2px solid #0081ff;border-top:2px solid #0081ff; border-radius:10px 10px 0px 0px;">
          <a href="{% url 'acincodingclinic:mypage_usrcoaching'%}" style="text-decoration:none !important;color:black;"><label style="font-size:30px; font-weight:600; padding-top:4%; padding-bottom:4%;">나의 코칭</label></a>
        </div>
         <div class="col-md-2" style="text-align:center;">
          <a href="#" style="text-decoration:none !important;color:black;"><label style="font-size:30px; font-weight:600; padding-top:4%; padding-bottom:4%;">포인트 관리</label></a>
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="form-group" style="background-color:white; font-size:23px; padding-bottom:7%;">
        <label style="font-weight:600; font-size:23px; color:#4d4d4d; padding-top:4%; padding-bottom:2%; padding-left:8%;">나의 코칭 목록</label>
        <div class="form-group">
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
              <div class="form-group" style="padding-top:3%; vertical-align:middle; font-size:18px;">
                <select class="mdb-select md-form" style="width:10%; height:50px; text-align-last:center;">
                  <option value="" disabled selected>선택</option>
                  <option value="제목">제목</option>
                  <option value="내용">내용</option>
                </select>
                <input type="text" style="position:relative; left:1%; width:30%; height:50px;" placeholder="   찾고 싶은 내용을 적어주세요">
                <img src="{% static 'acincodingclinic/img/design/magnifyingglass.png'%}" style="position:relative; vertical-align:middle; right:2.3%; width:2%; height:2%;">
                <select class="mdb-select md-form" style="position:relative; left:47%; width:10%; height:50px; text-align-last:center;">
                  <option value="" disabled selected>선택</option>
                  <option value="최신순">최신순</option>
                  <option value="역순">역순</option>
                </select>
              </div>
            </div>
            <div class="col-md-1">
            </div>
          </div>
        </div>      
        <div class="form-group">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <table class="table" style="font-size:18px; border-top: 1px solid; border-bottom: 1px solid #dee2e6; text-align:center;">
                        <thead>
                        <tr>
                            <th scope="col" style="width:10%;">번호</th>
                            <th scope="col" style="width:10%;">분류</th>
                            <th scope="col" style="width:10%;">작성자</th>
                            <th scope="col" style="width:50%;">제목</th>
                            <th scope="col" style="width:10%;">등록일</th>
                            <th scope="col" style="width:10%;">진행사항</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for coaching_content in coaching_list %}
                        {% csrf_token %}
                            <tr>
                            <th scope="row">{{forloop.revcounter}}</th>
                            <td>{{coaching_content.get_Coaching_ClassCode_display}}</td>
                            <td>{{coaching_content.Coaching_User}}</td>
                            <td style="text-align:left;"><a href="{% url 'acincodingclinic:ViewCoaching' coaching_content.id %}" style="text-decoration:none !important; color:black;">{{coaching_content.Coaching_Title}}</a></td>
                            <td>{{coaching_content.Coaching_CreateDate|date:"Y/m/d"}}</td>
                            {% if coaching_content.Coaching_isAnswer %}
                                <td style="color:green;">답변완료</td>
                            {% else %}
                                <td style="color:red;">진행중</td>
                            {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                 <div class="col-md-1">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
{% endblock %}
